<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.mapper.StudentMapper">
	<resultMap id="BaseResultMap"
	           type="com.xb.domain.Student">
		<!--@mbg.generated-->
		<!--@Table student-->
		<id column="id"
		    jdbcType="BIGINT"
		    property="id"/>
		<result column="name"
		        jdbcType="VARCHAR"
		        property="name"/>
		<result column="course"
		        jdbcType="VARCHAR"
		        property="course"/>
		<result column="addtime"
		        jdbcType="TIMESTAMP"
		        property="addtime"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, [name], course, addtime
	</sql>
	<select id="selectByPrimaryKey"
	        parameterType="java.lang.Long"
	        resultMap="BaseResultMap">
		<!--@mbg.generated-->
		select
		<include refid="Base_Column_List"/>
		from student
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey"
	        parameterType="java.lang.Long">
		<!--@mbg.generated-->
		delete from student
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
	        keyColumn="id"
	        keyProperty="id"
	        parameterType="com.xb.domain.Student"
	        useGeneratedKeys="true">
		<!--@mbg.generated-->
		insert into student ([name], course, addtime
		)
		values (#{name,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
	        keyColumn="id"
	        keyProperty="id"
	        parameterType="com.xb.domain.Student"
	        useGeneratedKeys="true">
		<!--@mbg.generated-->
		insert into student
		<trim prefix="("
		      suffix=")"
		      suffixOverrides=",">
			<if test="name != null">
				[name],
			</if>
			<if test="course != null">
				course,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
		</trim>
		<trim prefix="values ("
		      suffix=")"
		      suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="course != null">
				#{course,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
	        parameterType="com.xb.domain.Student">
		<!--@mbg.generated-->
		update student
		<set>
			<if test="name != null">
				[name] = #{name,jdbcType=VARCHAR},
			</if>
			<if test="course != null">
				course = #{course,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
	        parameterType="com.xb.domain.Student">
		<!--@mbg.generated-->
		update student
		set [name] = #{name,jdbcType=VARCHAR},
		course = #{course,jdbcType=VARCHAR},
		addtime = #{addtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<insert id="batchInsert"
	        keyColumn="id"
	        keyProperty="id"
	        parameterType="map"
	        useGeneratedKeys="true">
		<!--@mbg.generated-->
		insert into student
		([name], course, addtime)
		values
		<foreach collection="list"
		         item="item"
		         separator=",">
			(#{item.name,jdbcType=VARCHAR}, #{item.course,jdbcType=VARCHAR}, #{item.addtime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<select id="selectAllStudentList"
	        resultMap="BaseResultMap">
		select id, name, course, addtime
		from student;
	</select>
</mapper>